*{
    padding: 0;
    margin: 0;
}
body{background-color: rgb(143, 143, 231);}
.container{
    width:90%;
    margin: auto;
    box-sizing: border-box;
}
.nav-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:95%;
    margin: auto;
    font-family: 'Patrick Hand', cursive;
    margin-top: 15px;
}
.button-Main{
    height: 30px;
    width: 70px;
    color: whitesmoke;
    outline:none;
    border: none;
    font-weight: bold;
    border-radius:5px;
    background-color:rgb(8, 8, 8);
}
.button-Main:hover{
    outline:1px solid rgb(114, 114, 114) ;
    background-color:rgb(39, 39, 39);   
}
h3{font-size: 40px;}
.Notes-container{
  display: flex;
  width:100%;
}
.box-Modal{
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 170px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);   
}
.modal-content{    
    width: 268px;
    height: 268px;
    margin:auto;
    font-family: 'Indie Flower', cursive;
}
.textarea{
    width: inherit;
    height: inherit;
    box-shadow: 4px 4px 10px rgba(0,0,0);
    outline: none;
    border: none;
    overflow: auto;
    resize: none;
    font-size:29px;
    padding: 30px;
    font-family:'Cookie', cursive;
    background-color: whitesmoke;
    position: relative;
}
#Notes-container{
    overflow: hidden;
    width: 283px;
    height: 278px;
    box-shadow: 4px 4px 10px rgba(0,0,0);
    margin: 30px 20px 10px 0; 
}
.far{
    position: absolute;
    padding:14px 5px 0 290px;
    z-index: 1;
    overflow-y: auto;
    font-size: 20px;
}
#p{
    width: 90%;
    word-wrap: break-word;
    margin: auto;
    margin-top: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 26px;
    color:whitesmoke;
}
@media(max-width: 300px) {
    .container{
        width:100%;
        text-align:center;
    }
    .nav-section{
        width:100%; 
        flex-direction:column;
        background-color: red;
    }
    .nav-section input{
        margin-bottom: 10px;
    }
    .textarea{
        width: 200px;
        height:200px;
    }
    .Notes-container{
        position: relative;
    }
    .far{
        position: absolute;
        z-index: 1;    
    }

}